@import "tailwindcss";

@theme {
  --color-primary: #3279A2;
  --color-primaryw: #E5E7EB;
  --color-primarys: #066196;
  --color-myblue: #055B8E;
  --text-color-primary: var(--color-primary);
  --text-color-primarys: var(--color-primarys);
  --text-color-primaryw: var(--color-primaryw);
  --text-color-myblue: var(--color-myblue);
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

body {
  font-family: 'Inter', sans-serif;
}

